<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rpg/styles.css' %}">
</head>
<body>
    <h1>Welcome to Your Profile, {{ username }}</h1>
    <!-- Add a form to display the list of user characters -->
    <h1>Your Characters</h1>
    <ul>
        {% for character in user_characters %}
        <li>
            <form method="post" id="CharacterStartGame" action="{% url 'initialize_game' %}">
                {% csrf_token %}
                <input type="hidden" name="character_id" value="{{ character.character_id.id }}" />
                <button type="submit">{{ character.character_id.name }}</button>
            </form>
        </li>
        {% empty %}
        <li>No characters found.</li>
        {% endfor %}
    </ul>

    <!-- Add a form for character creation -->
        <form method="post" id="CharacterCreationForm" action="{% url 'create_character' %}">
        {% csrf_token %}
        <button type="submit">Create Character</button>
    </form>
    <!-- Add user-specific content here -->
    <p><a href="{% url 'login' %}" class="signup-button">Logout</a></p>

</body>
</html>